<script lang="ts">
  import { writable } from "svelte/store";
  import Rating from "./Rating.svelte";
  import Dialog from "./Dialog.svelte";
  // import Counter from './lib/Counter.svelte'
  let currentRating = writable("");

  function handleChange(event: Event) {
    currentRating.set((event.target as HTMLInputElement).value);
  }

  function handleSubmit(event: Event) {
    event.preventDefault();
    event.stopPropagation();
    document.querySelector("dialog")?.showModal();
  }
</script>

<main>
  <form class="card" on:submit={handleSubmit}>
    <div class="round star">
      <img src="icon-star.svg" />
    </div>
    <h1>How did we do?</h1>
    <p>
      Please let us know how we did with your support request. All feedback is
      appreciated to help us improve our offering!
    </p>

    <div class="ratings">
      <Rating rating="1" {handleChange} checked={$currentRating === "1"} />
      <Rating rating="2" {handleChange} checked={$currentRating === "2"} />
      <Rating rating="3" {handleChange} checked={$currentRating === "3"} />
      <Rating rating="4" {handleChange} checked={$currentRating === "4"} />
      <Rating rating="5" {handleChange} checked={$currentRating === "5"} />
    </div>

    <button class="submit" type="submit" on:submit={handleSubmit}>Submit</button
    >

    <!-- Thank you state start -->

    <!-- You selected Add rating here out of 5 Thank you! We appreciate you taking the
    time to give a rating. If you ever need more support, don’t hesitate to get in
    touch! -->

    <!-- Thank you state end -->
    <Dialog rating={$currentRating} />
  </form>
</main>

<svelte:head>
  <style>
    :root {
      --primary: hsl(25, 97%, 53%);
      --neutral100: hsl(0, 0%, 100%);
      --neutral300: hsl(217, 12%, 63%);
      --neutral400: hsl(216, 12%, 54%);
      --neutral700: hsl(213, 19%, 21%);
      --neutral800: hsl(213, 19%, 18%);
      --neutral900: hsl(216, 12%, 8%);
    }
    .card {
      max-width: 35ch;
      padding: 2rem;
      border-radius: 1rem;
      background-color: var(--neutral800);
      color: var(--neutral300);
      h1 {
        color: var(--neutral100);
      }
    }
    p {
      line-height: 1.5;
    }
  </style>
</svelte:head>

<style lang="postcss">
  @import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

  main {
    display: grid;
    place-items: center;
    font-size: 15px;
    font-family: "Overpass", sans-serif;
    background: var(--neutral900);
    min-height: 100dvh;
  }

  button {
    border: none;
    cursor: pointer;
  }

  .star {
    display: grid;
    place-items: center;
  }

  .round {
    --size: 3rem;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    background-color: var(--neutral700);
    color: inherit;
  }

  .ratings {
    display: flex;
    column-gap: 1rem;
    justify-content: space-between;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .submit {
    width: 100%;
    padding: 1rem 3rem;
    background-color: var(--primary);
    border-radius: 4rem;
    color: var(--neutral100);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;

    &:hover {
      background-color: var(--neutral100);
      color: var(--primary);
    }
  }
</style>
