<script lang="ts">
  export let rating: string;
  function handleClick() {
    document.querySelector("dialog")?.close();
  }
</script>

<!-- svelte-ignore a11y-no-noninteractive-element-interactions -->
<!-- svelte-ignore a11y-click-events-have-key-events -->
<dialog class="card" on:click={handleClick}>
  <!-- svelte-ignore a11y-missing-attribute -->
  <img src="illustration-thank-you.svg" />
  <p class="summary">You selected {rating} out of 5</p>

  <p>
    Thank you! We appreciate you taking the time to give a rating. If you ever
    need more support, don’t hesitate to get in touch!
  </p>
</dialog>

<style>
  dialog {
    border: none;
    text-align: center;
  }
  dialog::backdrop {
    /* Variable doesn't work here :-( */
    background-color: hsl(216, 12%, 8%);
  }

  img {
    width: fit-content;
    margin-inline: auto;
  }
  .summary {
    background: var(--neutral700);
    color: var(--primary);
    border-radius: 2em;
    padding: 0.5rem 1.5rem;
    width: fit-content;
    margin-inline: auto;
    line-height: 1;
  }
</style>
