<script lang="ts">
  import type { ChangeEventHandler } from "svelte/elements";

  export let rating: string;
  export let handleChange: ChangeEventHandler<HTMLInputElement>;
  export let checked: boolean;
</script>

<label class="rating" class:checked>
  {rating}
  <input
    class="radio"
    type="radio"
    value={rating}
    name="rating"
    on:change={handleChange}
  />
</label>

<style lang="postcss">
  .rating {
    --size: 3rem;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    background-color: var(--neutral700);
    color: inherit;
    display: grid;
    place-items: center;
    line-height: 1;
    cursor: pointer;
    &.checked {
      background-color: var(--neutral400);
      color: var(--neutral100);
    }
    &:hover {
      background-color: var(--primary);
      color: var(--neutral100);
    }
    input {
      display: none;
    }
  }
</style>
